<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cnswan.juggle">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".aapp.MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/rx_android_title"/>
        <activity
            android:name=".activity.FlexBoxActivity"
            android:label="@string/rx_android_title"/>
        <activity
            android:name=".activity.rxjava.RxAndroidActivity"
            android:label="@string/rx_android_title"/>
        <activity
            android:name=".activity.TinkerActivity"
            android:label="@string/tinker_title"/>
        <activity android:name=".activity.HistoryToday.HistoryTodayActivity"/>
        <activity android:name=".activity.WebViewActivity"/>
        <activity android:name=".activity.picture.DetailPictureActivity"/>
        <activity android:name=".activity.menu.NavDeedBackActivity"/>
        <activity android:name=".activity.menu.NavAboutActivity"/>
        <activity android:name=".activity.menu.NavSettingActivity"/>
        <activity android:name=".activity.news.movie.detail.MovieDetailActivity"/>
        <activity android:name=".activity.news.top.detail.TopNewsDetailActivity"/>

        <service android:name=".service.SampleResultService"/>
    </application>

</manifest>