<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cnswan.juggle">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".amvp.JApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 路由页面 -->
        <activity android:name=".ui.activity.ARouterActivity"/>
        <activity android:name=".ui.activity.ARouterJumpActivity"/>
        <!-- 路由页面 通过Url跳转 -->
        <activity android:name=".ui.activity.ARouterSchemaFilterActivity">
            <intent-filter>
                <data
                    android:host="m.cnswan.com"
                    android:scheme="arouter"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.WebViewActivity"/>

        <activity
            android:name=".ui.activity.SplashActivity"/>
        <activity
            android:name=".ui.activity.FlexBoxActivity"/>
        <activity
            android:name=".ui.activity.VLayoutActivity"/>
        <activity
            android:name=".ui.activity.RxAndroidActivity"/>
        <activity
            android:name=".ui.activity.ViewActivity"/>
    </application>

</manifest>